<div class="background">
    <div class = "cardselectdiv"[@fadeInOut]="fadingOut ? 'void' : '*'">
      <div class="card-container">
        <ng-container *ngFor="let card of cards; let i = index">
          <img src="/assets/card_images/card-background.jpg"
               *ngIf="!isSelected(i)" 
               (click)="selectCard(i)"
               [attr.id]="'facedown-card-' + i"
               class="facedown-card">{{i}}
        
        </ng-container>
        
      </div>
    </div>
  </div>
  