<div class ="background">
    <div class="main-menu" [@fadeInOut]="fadingOut ? 'void' : '*'">
        <h1>Welcome!</h1>

        <p>Please select a deck and a layout.</p>

        <div class="dropdown-container">
            <select class="dropdown" [(ngModel)]="selectedDeck" (change)="onDeckSelect(selectedDeck)">
                <option *ngFor="let deck of decks" [value]="deck">
                {{ deck }}
                </option>
            </select>   

            <select class="dropdown" [(ngModel)]="selectedLayout" (change)="onLayoutSelect(selectedLayout)">
                <option *ngFor="let layout of layouts" [value]="layout">
                {{ layout }}
                </option>
            </select>   
        </div>

        <button (click)="moveToCardSelection()">Go to Card Selection</button>

    </div>
</div>